
/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}*/
body{
    display: flex;
    overflow-x: hidden;

}
.video-background>.nav{
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;;
    z-index: 1; /*Place the content above the video */
    background: transparent;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.nav-item{
   /* border: 1px solid black;*/
    position: relative;
    left: 80%;
    color: white;
    font-size: 1.2em;
    font-family: monospace;
}
.nav-link{
    color: white;
    /*position: relative;
    left: 1800%;*/
    font-size: 1em;
    font-weight: bold;
}
#admin-navItem{
    position: absolute;
    left: 5%;
    color: white;
    font-family: monospace;
}
.video-background {
    position: relative;
    width: 100vw;
    /*width: 201.5vh;*/
    height: 754px;
    /*min-height: 100vh;*/
    overflow: hidden;
}
#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire viewport */
}
.content {
    position: relative;
    left: 5%;
    top: 35%;
    width: 50%;
    z-index: 1; /*Place the content above the video */
    text-align: center;
    color: #fff;
    padding: 20px;
    /*border: 1px solid red;*/
}
.content>h1{
    font-family: Toledo;
    font-size: 4em;
    position: absolute;
    top: -280%;
    left: 5%;
}
#pa{

    position: absolute;
    left: 20%;
    top: -90%;
}
.content>p{
    position: absolute;
    left: 5%;
    font-size: 1.2em;
    top: 110%;
}
.btn{
    position: absolute;
    right: 10%;
    bottom: 20%;
    z-index: 1; /*Place the content above the video */
    text-align: center;
    border-radius: 10px 50px;

}
.media-div{
    position: relative;
    left: 5%;
    top: 17%;
    width: 5px;
    height: 250px;
    z-index: 1; /*Place the content above the video */
    text-align: center;
    background: #fff;

}
.fa{
    position: relative;
    left: 5%;
    top: 17%;
    width: 5px;
    height: 200px;
    z-index: 1; /*Place the content above the video */
    text-align: center;
    background: #fff;
}
.icon{
   /* border: 1px solid red;*/
    position: relative;
    left: 2.7%;
    top: 15%;
    width: 5%;
    z-index: 1; /*Place the content above the video */
    text-align: center;
    color: #fff;
    padding: 20px;

}
.icon>.i{
    width: 25px;
    height: 25px;
    display: inline;
    background:  transparent;
    margin-bottom: 25%;

}
.admin-login{
    width: 100vw;
    height: 100vh;
    /*border: 4px solid black;*/
    position: absolute;
    left: 0%;
    top: 102%;
    margin: 0;
    padding: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0E3663, #5978A9, #B3B3BD);
    display: none;
}
.main{
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}
#chk{
    display: none;
}
.signup{
    position: relative;
    width:100%;
    height: 100%;
}
label{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.btn-admin-login{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #0000A3;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover{
    background: #0000A3;
}
.login{
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color: #0000A3;
    transform: scale(.6);
}

#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~ .login label{
    transform: scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}
#main{
    position:absolute ;
    left: 40%;
    top: 15%;

}

.user-login{
    /*border: 4px solid black;*/
    width: 99.9vw;
    height: 754px;
    position: absolute;
    top: 100%;
    background: linear-gradient(to right top, #7A7A98 30%, #AABBE7 70%);

}
.div{
    width: 800px;
    height: 600px;
   background: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 40px;
}
.wigth {
    width: 110px;
    height: 20px;
    background: black;

}
#widthDive1{
    background: white;
    position: absolute;
    left: 92%;
    top: -81%

}
#widthDive2{
    background: #AABBE7;
    position: absolute;
    left: 95%;
    /* top: -19%; */
    bottom: 75%
}
#widthDive3{
    background: white;
    position: absolute;
    left: 90%;
    bottom: 69%;
}
#widthDive4{
    background: white;
    position: absolute;
    left: -95%;
    top: 66%;
}
#widthDive5{
    background: #7A7A98;
    position: absolute;
    left: -105%;
    top: 72%;
}
#widthDive6{
    background: white;
    position: absolute;
    left: -103%;
    top: 78.8%;
}
.topDive{
    background: #AABBE7 70%;
    /*background: linear-gradient(to right top, #7A7A98 30%, #AABBE7 70%);*/
    width: 330px;
    height: 330px;
    border-bottom-right-radius: 100%;
}
.leghtDrive{
    background: white;
    width: 67px;
    height: 341px;
    position: absolute;
    top: 1%;
    left: 4.9%;
    transform: rotate(13.5deg);
    /*border-radius: -9%;*/
}
#l1{
    background: white;
    width: 65px;
    height: 280px;
    transform: rotate(-25deg);
    left: 17%;
    top: -1%;
    border-radius: 20px;
}
#l2{
    background: white;
    width: 65px;
    height: 73px;
    transform: rotate(-90deg);
    left: 10%;
    border-radius: 20px;
    top: -6px;

}

.login-filed-and-text{
    width: 450px;
    height: 420px;
   /* border: 1px solid black;*/
    position: absolute;
    right: 2%;
    bottom: 12%;
}
#loginText{
    position: absolute;
    left: 42%;
    top: 2%;
    font-family: math;
    font-weight: revert;
}
#text{
    position: absolute;
    left: 7%;
    top: 13%;
    font-family: sans-serif;
    font-size: 0.9em;
}
.input-container{
    /*border: 1px solid blue;*/
    position:relative;
    margin-bottom:25px;
    top: 30%;
}

.input-container label{
    position: absolute;
    top: -45px;
    left: 40px;
    font-size: 14px;
    color: black;
    pointer-event: none;
    transition: all 0.5s
}
.input-container input{
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 65%;
    height: 45px;
    padding: 8px 0 5px 0;
    font-size: 16px;
    /* color: red; */
    position: relative;
    top: -6px;
   /* position: absolute;
    top: 10%;*/
    /*color:red;*/
}
.input-container input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #AABBE7 ;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
    top:-70px;
    font-size:10px;
    left:  38px;;
}
.input-container img{
    width: 25px;
    position: absolute;
    top: 40%;
    left: 8%;
}
.btn-user-login{
    background: #AABBE7;
    border: 1px solid white;
    position: absolute;
    bottom: 20%;
    left: 33%;
    width: 32%;
    height: 9.5%;
    border-radius: 34px;
    color: white;
    font-family: system-ui;
    font-size: 1.2em;
    font-weight: bolder;

}
.btn-register-login{
    background: #7A7A98;
    border: 1px solid white;
    position: absolute;
    bottom: -5%;
    left: 24%;
    width: 50%;
    height: 10%;
    border-radius: 34px;
    color: white;
    font-family: system-ui;
    font-size: 1.2em;
    font-weight: bolder;
}
.middle-div{
    border: 1px solid #7A7A98;
    position: relative;
    top: 188px;
    width: 110px;
    left: 17%;
}
#middle2{
    position: relative;
    /*width: 198px;*/
    left: 56%;
}
.or-lable{
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    position: absolute;
    bottom: -1%;
    left: 32%;
}
.welcome-div{
    /*border: 1px solid black;*/
    width: 40%;
    height: 40%;
}
#welcome{
    position: absolute;
    left: 10%;
    top: 60%;
    font-family: revert;
    font-weight: unset;
}
.welcome-text{
    position: relative;
    top: 36%;
    font-size: 0.8em;
}
#div2{
    background: white;
    width: 900px;
}
.user-register-container{
    border: 1px solid black;
    width: 97%;
    height: 90%;
    position: relative;
    left: 0.5%;
    top: 5%;
    box-shadow: black;

}
.input-register-container {
    position: relative;
   /* margin-bottom: 10px;*/
    top: 40%;
   /* border: 1px solid red;*/
    height: 10%;
    width: 43%;
    margin: 20px;
}
.input-register-container label{
    position: absolute;
    top: -60px;
    left: -40px;
    font-size: 14px;
    color: black;
    pointer-event:none;
    transition: all 0.5s ease-in-out;
}
.input-register-container input{
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 60%;
    height: 45px;
    padding: 8px 0 5px 0;
    font-size: 16px;
    position: relative;
    top: -35%;
    left: -19%;

}
.input-register-container input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #AABBE7 ;
}

.input-register-container input:focus ~ label,
.input-register-container input:valid ~ label{
    top:-80px;
    font-size:12px;
    left:  -30px;
}
.input-register-container img{
    width: 25px;
    position: absolute;
    top: 5%;
    left: 2%;
}
.address{
    position: absolute;
    right: 2%;
    top: 36%;

}
#address-div{
    position: absolute;
    left: 37%;
}
#address-lable{
    position: absolute;
    top: -70%;
}
.input-register-container input:focus ~  #address-lable,
.input-register-container input:valid ~  #address-lable{
    top: -60px;
    left:  -30px;
}
.input-register-container input:focus ~  #password-leble,
.input-register-container input:valid ~  #password-leble{
    top: -60px;
    left:  -30px;
}
.input-register-container input:focus ~  #gender-lable,
.input-register-container input:valid ~  #gender-lable{
    top: -60px;
    left:  -30px;
}

#password-div{
    position: absolute;
    right: -19%;
    top: 36%;
}
#password-leble{
    position: absolute;
    top: -70%;
}
#nic-div{
    position: absolute;
    left: 37%;
    top: 50%;
}
#contact-div{
    position: absolute;
    right: -19%;
    top: 50%;
}
#gender-div{
    position: absolute;
    right: 15.5%;
    top: 64%;
}
#gender-lable{
    position: absolute;
    top: -70%;
}
#remark-div{
    position: absolute;
    right: -19%;
    top: 64%;
}
#date-div{
    position: absolute;
    left: 0%;
   top: 78%;
}

.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: relative;*/
    transition: all 0.3s ease;
    /*border: 1px solid red;*/
    position: absolute;
    left: 32%;
    top: 0%;
    width: 40%;
    height: 40%;
}
.profile-pic input {
    display: none;
}
.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
}
.profile-pic .-label {
    cursor: pointer;
    width: 200px;
    height: 200px;
}
.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    color: #fafafa;
    /*border: 4px solid red;*/
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;

    position: absolute;
    /*left: 10%;*/
    top: -24%;
}
.profile-pic span {

    display: inline-flex;
    padding: 0.2em;
    height: 1em;
    position: absolute;
    left: 15%;
    top: 15%;
}
#btn-new-user-register{
    width: 27%;
    bottom: 2%;
    left: 38%;
    height: 9%;
    background: linear-gradient(to right top, #7A7A98 30%, #AABBE7 70%);
}
.guide-admin-page{
   /* border: 4px solid black;*/
    width: 100%;
    height: 755px;
    position: absolute;
    top: 100%;
}

/*Guide login Css*/


.card {
    float: left;
    padding: 0 1.7rem;
    width: 30%;
    height: 10px;
    left: 8%;
    top: 13%;
    border: 1px solid red;
}
/*#load-guide-image{
    width: 50px;
    height: ;
}*/
#load-guide-filed-card{
    width: 23%;
    height: 45%;
}
#load-guide-image,#load-guide-nic-image,#load-guide-id-image{
    border: 1px solid blue;
    width: 30%;
    height: 20%;
}
#load-guide-delete-image,#load-guide-update-image{
    width: 5%;
    position: absolute;
    left: 90%;
    top: 80%;
}
#load-guide-update-image{
    top: 90%;
}

.card .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
    content: "";
    display: table;
}
.card .menu-content::after {
    clear: both;
}
.card .menu-content li {
    display: inline-block;
}
.card .menu-content a {
    color: #fff;
}
.card .menu-content span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-weight: 700;
    font-family: "Open Sans";
    transform: translate(-50%, 0);
}
.card .wrapper {
    background-color: #fff;
    min-height: 332px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
    width: 136%;
    left: -27px;
}
.card .wrapper:hover .data {
    transform: translateY(0);
}
.card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
}
.card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
    left: 0%;
    height: 145px;
    width: 100%;
    bottom: 2px;
}
.card .author {
    font-size: 12px;
}
.card .title {
    margin-top: 10px;
}
.card .text {
    height: 120px;
    margin: 0;
}
.card input[type=checkbox] {
    display: none;
}
.card input[type=checkbox]:checked + .menu-content {
    transform: translateY(-60px);
}

.example-1 .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #77d7b9;
    color: #fff;
    padding: 0.8em;
}
.example-1 .date span {
    display: block;
    text-align: center;
}
.example-1 .content {
    background-color: #fff;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}
.example-1 .title a {
    color: gray;
}
.example-1 .menu-button {
    position: absolute;
    z-index: 999;
    top: -30px;
    right: -20px;
    width: 25px;
    text-align: center;
    cursor: pointer;
}
/*.example-1 .menu-button span {
    width: 5px;
    height: 5px;
    background-color: gray;
    color: gray;
    position: relative;
    top: -73px;
    display: inline-block;
    border-radius: 50%;
    left: 53px;
}*/
#guide-pic{
/*    border: 1px solid red;*/
    width: 40%;
    position: absolute;
    left: 100px;
    top: 10px;
    height: 40%;
}

#guide-img-span{
    font-size: 0.5em;
}

#guide-output{
    border: 1px solid black;
    width: 90%;
    left: 8px;
    height: 90%;
}
/*#guide-pic{
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    !*position: relative;*!
    transition: all 0.3s ease;
    !*border: 1px solid red;*!
    position: absolute;
    left: 25%;
    top: 0%;
    width: 10%;
    height: 40%;
}*/
#guide-pic:hover .-label {
    display: none;
   /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    color: #fafafa;
 !*   border: 4px solid red;*!
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;

    position: absolute;
    width: 90%;
    height: 90%;

    !*left: 10%;*!
    top: -40%;*/
}
/*.example-1 .menu-button span::after, .example-1 .menu-button span::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: currentColor;
    position: absolute;
    border-radius: 50%;
}
.example-1 .menu-button span::before {
    left: -10px;
}
.example-1 .menu-button span::after {
    right: -10px;
}*/
#delete-icon{
    width: 10%;
    position: relative;
    left: 0%;
    top: 100%;
}
#delete-icon1{
    width: 10%;
    position: relative;
    left: 20%;
    top: -43%;
}
.example-1 .menu-content {

    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: transform 0.3s;
    transform: translateY(0);
}
.example-1 .menu-content li {
    width: 100%;
    float: left;
    background: linear-gradient(to right top, #7A7A98 30%, #AABBE7 70%);
    height: 40px;
    /* height: 31%; */
    position: relative;
    /* top: -21%; */
    bottom: -19px;
}
.example-1 .menu-content a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}
.example-1 .menu-content span {
    top: -10px;
}

.pencile{
    width: 5%;
    position: absolute;
    right: 10px;
    top: 15px;
}
.btn-delete-guide{
    color: #6a1a21;
    width: 5%;
    position: relative;
    right: -30%;
    top: -84%;
    display: inline-block;
}

.guide-lebles{
   /* border: 1px solid red;*/
    color: black;
    font-size: 0.8em;
    position: relative;
    top: 75px;
    margin-top: -78px;
    width: 30%;
    left: -25%;
    /* width: 10%;
    /*width: 10%;*/
}
/*#guide-adrress{
    position: relative;
    top: -45px;
}
#guide-address-lable{
    position: relative;
    top: -63px;
}
#guide-age{
    position: relative;
    top: -63px;
}
#guide-age-lable{
    position: relative;
    top: -80px;
}
#guide-gender{
    position: relative;
    top: -78px;
}
#guide-gender-lable{
    position: relative;
    top: -97px;
}*/

/*#guide-email{
    position: relative;
    top: -95px;
}
#guide-email-lable{
    position: relative;
    top: -115px;
}*/
/*#guide-contact{
    position: relative;
    top: -95px;
}
#guide-contact-lable{
    position: relative;
    top: -115px;
}*/
.guide-lables-filed{
   /* border: 1px solid blue;*/
    color: #6a1a21;
    font-size: 0.8em;
    margin: 0;
    /* left: -66px; */
    width: 90px;
    position: relative;
    top: -5%;
    left: 25%;
}
#btn-add-guider-page{
    width: 2%;
    position: absolute;
    right: 20px;
    bottom: 20px;

}
/*open blurre page*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.new-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  /*  background-color: white;*/
    /*padding: 20px;*/
   /* border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
    display: none;
}
#closeButton{
    background-color: transparent;
    width: 30%;
    position: relative;
    left: 800%;
    bottom: 300px;
}
#update-guide-filed{
    width: 1300px;
    height: 700px;
    background-color: white;
    position: absolute;
    left: -600px;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
}

#cardContainer{
    border: 1px solid red;
    width: 100%;
    height: 100%;

}
.card{
    float: left;
    padding: 0 1.7rem;
    width: 23%;
    left: 2%;
    top: 13%;
    height: 250px;
    margin: 10px;
}


#guide-lable{
    position: relative;
    left: 48%;
    font-family: monospace;
 }

#applicationForm{
/*    border: 1px solid red;
    width: 50%;
    height: 50%;*/
}
/*#from-group\ from1{
    !*border: 1px solid red;*!
    width: 30%;
    height: 10%;
    position: relative;
    top: 10%;
    left: 5%;
}
#from-group\ from2{
    border: 1px solid red;
}*/
.form-group{
    border: 1px solid white;
    width: 30%;
    height: 10%;
    position: relative;
    top: 5%;
    left: 1%;
}

/*.form-group label {
    display: block;
    font-weight: bold;
}*/
.guide-lable{
    color: black;
    font-size: 1em;
    position: relative;
    bottom: 117%;
}
#from-group\ from2{
    position: relative;
    left: 35%;
    top: -5%;
}
#from-group\ from3{
    position: relative;
    left: 68%;
    top: -15%;
}
#from-group\ from4{
    position: relative;
    top: -10%;
}
#from-group\ from5{
    position: relative;
    top: -20%;
    left: 35%;
}
#from-group\ from6{
    position: relative;
    left: 68%;
    top: -30%;
}
#from-group\ from7{
    position: relative;
    left: 35%;
    top: -30%;
}
#from-group\ from8{
    position: relative;
    top: -15%;
    height: 20%;
}
#from-group\ from9{
    position: relative;
    top: -35%;
    left: 35%;
    height: 20%;
}
#from-group\ from10{
    position: relative;
    top: -55%;
    left: 68%;
    height: 20%;
}
#from-group\ fromValue{
    position: relative;
    top: -20%;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="tel"],
.form-group select,
.form-group textarea {
    position: relative;
    /* top: 15px; */
    bottom: 127px;
    left: 0px;
    right: 0;
    margin: auto;
    width: 100%;
    height: 35px;
    /* padding: 10px; */
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
}
.form-group textarea {
    height: 100px;
}

.form-group .form-group {
    margin: 0 0 10px;
}

.form-group input[type="file"] {
    display: none;
}
.form-group label[for="profilePicture"],
.form-group label[for="idImage"],
.form-group label[for="nicImage"] {
    /*background: linear-gradient(to right top, #7A7A98 30%, #AABBE7 70%);*/
    background-color: #a39b9b;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 5%;
}
.form-group label[for="profilePicture"],
.form-group label[for="idImage"],
.form-group label[for="nicImage"] {
   /* background-color: #007BFF;*/
    /* background-color: #007BFF; */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    bottom: 100px;
    width: 55%;
    height: 35%;
}


/*.form-group label[for="profilePicture"]:hover,
.form-group label[for="idImage"]:hover,
.form-group label[for="nicImage"]:hover {
    background-color: #0056b3;

}*/

.form-group img {
 /*   border: 1px solid blue;*/
    /*max-width: 100px;
    margin-top: 10px;*/
   /* width: 100px;
    height: 100px;*/
    max-width: 120px;
    position: relative;
    top: -108%;
    left: 33%;
}
/*#btn-save-guide {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 0;
}

.submit-button:hover {
    background-color: #0056b3;
}*/
/*#name{
    !* color: black; *!
    border: 1px solid black;
    width: 100%;
    height: 55%;
    position: relative;
    bottom: 180%;
    background: white;
}*/
/*.guide-input-container{*/
/*    border: 1px solid red;*/
/*    width: 50%;*/
/*    height: 40px;*/
/*    position: absolute;*/
/*    top: 45%;*/
/*    left: 10%;*/
/*color: black;*/

/*!*    border: 1px solid white;*/
/*    width: 80%;*/
/*    height: 90%;*/
/*    position: relative;*/
/*    left: 10%;*/
/*    top: 5%;*/
/*    box-shadow: black;*!*/
.guide-input-container{
    /*border: 1px solid blue;*/
    position: relative;
    /* margin-bottom: 25px; */
    top: 30%;
    width: 50%;
    height: 50px;
    bottom: -10px;
    left: 2%;
    margin-top: 20px;

   /* border-bottom: 1px solid #555;
    background: transparent;
    width: 70%;
    height: 45px;
    padding: 8px 0 5px 0;
    font-size: 14px;
    !* color: red; *!
    position: absolute;
    left: 13%;
    top: -50%;*/
}
.guide-input-container label{
    position:absolute;
    top: -43px;
    left: -50px;
    font-size:14px;
    color:black;
    pointer-event:none;
    transition: all 0.5s ease-in-out;
}
.guide-input-container input{
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 100%;
    height: 45px;
    padding: 8px 0 5px 0;
    font-size: 16px;
    /* color: red; */
    position: absolute;
   /* left: 15%;*/
    top: -50%;
}
.guide-input-container input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #AABBE7 ;
}
.guide-input-container input:focus ~ label,
.guide-input-container input:valid ~ label{
    top:-70px;
    font-size:10px;
    left:  -50px;;
}
#btn-save-guide{
    background: linear-gradient(to right top, #7A7A98 30%, #AABBE7 70%);
    width: 13%;
    height: 6%;
    position: absolute;
    left: 43%;
    bottom: 1%;
    border-radius: 35px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
}
#choose-guide-pic{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    object-fit: cover;
    background: #dfdfdf;
    position: relative;
    left: 65%;
    bottom: 300px;
}
#btn-choose-guide{
    width: 17.5%;
    height: 5%;
    position: relative;
    bottom: 320px;
    left: 28%;
    background: white;
}

.data-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: gray;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    top: 10%;
}
h2 {
    margin: 0 0 20px;
}

p {
    margin: 0;
}

/*Vehicle CSS*/
.vehicle-section{
    background-color: white;
    width: 100%;
    height: 100%;
    border: 4px solid red;
    position: absolute;
    top: 100%;
    /*display: none;*/
}
#btn-add-vehicle-page{
    width: 2%;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#vehicleNewPageCloseButton{
    position: relative;
    width: 2%;
    left: 105%;
    top: -10px;

}
.close-btn{
    width: 40%;
    position: relative;
    left: 19cm;
    top: -8cm;
}
.vehicleFiledSection{
    background-color: white;
    width: 1200px;
    height: 650px;
    border: 1px solid blue;
    position: relative;
    top: -35px;
}
.vehicle-label{
    color: black;
    font-size: 1em;
    position: relative;
    bottom: 117%;
}
#from-vehicle-brand-group{
    position: relative;
    top: -5%;
    left: 35%;
}
#from-vehicle-category-group{
    position: relative;
    left: 69%;
    top: -15%;
}
#from-vehicle-fuelType-group{
    position: relative;
    top:-10%
}
#from-vehicle-fuelUsage-group{
    position: relative;
    left: 35%;
    top: -20%;
}
#from-vehicle-HybridType-group{
    position: relative;
    left: 69%;
    top: -30%;
}
#from-vehicle-seat-group{
    position: relative;
    top: -25%;
}
#from-vehicle-transmission-group{
    position: relative;
    top: -35%;
    left: 35%;
}
#from-vehicle-remark-group{
    position: relative;
    left: 69%;
    top: -45%;
}
#txt-vehicle-remark{
    height: 55%;
}
#from-vehicle-driver-group{
    position: relative;
    top: -40%;
}
#from-vehicle-driverContact-group{
    position: relative;
    top: -50%;
    left: 35%;

}
#from-vehicle-image-group{
    border: 1px solid black;
    position: relative;
    top: -40%;
    height: 20%;
}
#vehicle-Image{
    background: #a39b9b;
    margin: 5px;
    top: -23%;
    width: 40%;
    left: 30%;
    border-radius: 10px;
    height: 30px;
}
#vehicleImagePreview{
    border: 1px solid red;
    width: 110px;
    top: -18%;
}
#from-vehicle-image-group2{
    border: 1px solid black;
    position: relative;
    top: -60%;
    height: 20%;
    left: 40%;
}
#vehicle-Image2{
    background: #a39b9b;
    margin: 5px;
    top: -23%;
    width: 40%;
    left: 30%;
    border-radius: 10px;
    height: 30px;
}
#vehicleImagePreview2{
    border: 1px solid red;
    width: 110px;
    top: -18%;
}
#btn-vehicle-save{
    width: 10%;
    height: 5%;
    background: linear-gradient(to right top, #7A7A98 30%, #AABBE7 70%);
    position: relative;
    top: -55%;
    left: 50%;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-weight: bold;
}
/*
#btn-save-vehicle{
    width: 10%;
    height: 5%;
    background: linear-gradient(to right top, #7A7A98 30%, #AABBE7 70%);
    position: relative;
    top: -40%;
    left: 50%;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-weight: bold;

}*/


/*Hotel CSS*/
.hotel-section{
    border: 4px  solid blue;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 200%;
}
#btn-add-hotel-page{
    width: 2%;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#newHotelPage{
    width: 30cm;
    height: 17cm;
   /* border: 1px solid deeppink;*/
    background: white;
    border-radius: 10px;
}
.hotel-label{
    color: black;
    font-size: 1em;
    position: relative;
    bottom: 117%;
}
#hotelNewPageCloseButton{
    width: 2%;
    position: absolute;
    left: 38cm;
    top: 1cm;
}
#from-hotel-category-group{
    position: relative;
    left: 35%;
    top: -5%;
}
#from-hotel-location-group{
    position: relative;
    left: 69%;
    top: -15%;
}
#from-hotel-email-group{
    position: relative;
    top: -12%;
}
#from-hotel-contact1-group{
    position: relative;
    left: 35%;
    top: -22%;
}
#from-hotel-contact2-group{
    position: relative;
    left: 69%;
    top: -32%;
}
#from-hotel-fee-group{
    position: absolute;
    top: 30%;
}
#from-hotel-remark-group{
    position: relative;
    top: -30%;
    left: 35%;
}
#from-hotel-image-group1{
    position: relative;
    border: 1px solid red;
    height: 15%;
    top: -10%;
}
#from-hotel-image-group2{
    position: relative;
    border: 1px solid blue;
    height: 15%;
    top: -25%;
    left: 35%;
}
#from-hotel-image-group3{
    position: relative;
    border: 1px solid black;
    height: 15%;
    top: -40%;
    left: 69%;
}
#hotel-Image1,#hotel-Image2,#hotel-Image3{
    background: #a39b9b;
    width: 50%;
    height: 35%;
    align-items: center;
    border-radius: 10px;
    left: 6%;
}
#hotelImagePreview1,#hotelImagePreview2,#hotelImagePreview3{
    position: relative;
    top: -160%;
    width: 140px;
}

#btn-hotel-save{
    width: 12%;
    height: 6%;
    background: linear-gradient(to right top, rgb(122, 122, 152) 30%, rgb(170, 187, 231) 70%);
    position: relative;
    top: -25%;
    left: 45%;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-weight: bold;
}
.vehicleCardContainer{
    border: 1px solid #0c4128;
    width: fit-content;
    height: fit-content;
}
#load-vehicle-filed-card{
    border: 1px solid purple;
    width: 20%;
    height: 50%;
    position: absolute;
    left: 5%;

}
#load-vehicle-filed-card p{
    position: relative;
    top: 30%;
}
/*
#from-hotel-name-group{

}*/
