
/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}*/
body{
    display: flex;
    overflow-x: hidden;

}
.video-background>.nav{
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;;
    z-index: 1; /*Place the content above the video */
    background: transparent;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.nav-item{
   /* border: 1px solid black;*/
    position: relative;
    left: 80%;
    color: white;
    font-size: 1.2em;
    font-family: monospace;
}
.nav-link{
    color: white;
    /*position: relative;
    left: 1800%;*/
    font-size: 1em;
    font-weight: bold;
}
#admin-navItem{
    position: absolute;
    left: 5%;
    color: white;
    font-family: monospace;
}
.video-background {
    position: relative;
    width: 100vw;
    /*width: 201.5vh;*/
    height: 754px;
    /*min-height: 100vh;*/
    overflow: hidden;
}
#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire viewport */
}
.content {
    position: relative;
    left: 5%;
    top: 35%;
    width: 50%;
    z-index: 1; /*Place the content above the video */
    text-align: center;
    color: #fff;
    padding: 20px;
    /*border: 1px solid red;*/
}
.content>h1{
    font-family: Toledo;
    font-size: 4em;
    position: absolute;
    top: -280%;
    left: 5%;
}
#pa{

    position: absolute;
    left: 20%;
    top: -90%;
}
.content>p{
    position: absolute;
    left: 5%;
    font-size: 1.2em;
    top: 110%;
}
.btn{
    position: absolute;
    right: 10%;
    bottom: 20%;
    z-index: 1; /*Place the content above the video */
    text-align: center;
    border-radius: 10px 50px;

}
.media-div{
    position: relative;
    left: 5%;
    top: 17%;
    width: 5px;
    height: 250px;
    z-index: 1; /*Place the content above the video */
    text-align: center;
    background: #fff;

}
.fa{
    position: relative;
    left: 5%;
    top: 17%;
    width: 5px;
    height: 200px;
    z-index: 1; /*Place the content above the video */
    text-align: center;
    background: #fff;
}
.icon{
   /* border: 1px solid red;*/
    position: relative;
    left: 2.7%;
    top: 15%;
    width: 5%;
    z-index: 1; /*Place the content above the video */
    text-align: center;
    color: #fff;
    padding: 20px;

}
.icon>.i{
    width: 25px;
    height: 25px;
    display: inline;
    background:  transparent;
    margin-bottom: 25%;

}
.admin-login{
    width: 100vw;
    height: 100vh;
    /*border: 4px solid black;*/
    position: absolute;
    left: 0%;
    top: 102%;
    margin: 0;
    padding: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0E3663, #5978A9, #B3B3BD);
    display: none;
}
.main{
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}
#chk{
    display: none;
}
.signup{
    position: relative;
    width:100%;
    height: 100%;
}
label{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.btn-admin-login{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #0000A3;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover{
    background: #0000A3;
}
.login{
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color: #0000A3;
    transform: scale(.6);
}

#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~ .login label{
    transform: scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}
#main{
    position:absolute ;
    left: 40%;
    top: 15%;
    /*justify-content: center;
    align-items: center;*/
}
/*.admin-login{
    position: absolute;
    top: 0%;
}*/
.user-login{
    /*border: 4px solid black;*/
    width: 99.9vw;
    height: 754px;
    position: absolute;
    top: 100%;
    background: linear-gradient(to right top, #7A7A98 30%, #AABBE7 70%);

}
.div{
    width: 800px;
    height: 600px;
   background: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 40px;
}
.wigth {
    width: 110px;
    height: 20px;
    background: black;

}
#widthDive1{
    background: white;
    position: absolute;
    left: 92%;
    top: -81%

}
#widthDive2{
    background: #AABBE7;
    position: absolute;
    left: 95%;
    /* top: -19%; */
    bottom: 75%
}
#widthDive3{
    background: white;
    position: absolute;
    left: 90%;
    bottom: 69%;
}
#widthDive4{
    background: white;
    position: absolute;
    left: -95%;
    top: 66%;
}
#widthDive5{
    background: #7A7A98;
    position: absolute;
    left: -105%;
    top: 72%;
}
#widthDive6{
    background: white;
    position: absolute;
    left: -103%;
    top: 78.8%;
}
.topDive{
    background: #AABBE7 70%;
    /*background: linear-gradient(to right top, #7A7A98 30%, #AABBE7 70%);*/
    width: 330px;
    height: 330px;
    border-bottom-right-radius: 100%;
}
.leghtDrive{
    background: white;
    width: 67px;
    height: 341px;
    position: absolute;
    top: 1%;
    left: 4.9%;
    transform: rotate(13.5deg);
    /*border-radius: -9%;*/
}
#l1{
    background: white;
    width: 65px;
    height: 280px;
    transform: rotate(-25deg);
    left: 17%;
    top: -1%;
    border-radius: 20px;
}
#l2{
/*    background: white;
    width: 65px;
    height: 73px;
    transform: rotate(-90deg);
    left: 9.3%;
    border-radius: 14px;
    top: -6px;*/


    background: white;
    width: 65px;
    height: 73px;
    transform: rotate(-90deg);
    left: 10%;
    border-radius: 20px;
    top: -6px;

}

.login-filed-and-text{
    width: 450px;
    height: 420px;
   /* border: 1px solid black;*/
    position: absolute;
    right: 2%;
    bottom: 12%;
}
#loginText{
    position: absolute;
    left: 42%;
    top: 2%;
    font-family: math;
    font-weight: revert;
}
#text{
    position: absolute;
    left: 7%;
    top: 13%;
    font-family: sans-serif;
    font-size: 0.9em;
}
.input-container{
    /*border: 1px solid blue;*/
    position:relative;
    margin-bottom:25px;
    top: 30%;
}
.input-container label{
    position:absolute;
    top: -43px;
    left: 10px;
    font-size:14px;
    color:black;
    pointer-event:none;
    transition: all 0.5s ease-in-out;
}
.input-container input{
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    width:70%;
    height: 45px;
    padding:8px 0 5px 0;
    font-size:16px;
    /*color:red;*/
}
.input-container input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #AABBE7 ;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
    top:-70px;
    font-size:10px;
    left:  38px;;
}
.input-container img{
    width: 25px;
    position: absolute;
    top: 40%;
    left: 8%;
}
.btn-user-login{
    background: #AABBE7;
    border: 1px solid white;
    position: absolute;
    bottom: 20%;
    left: 33%;
    width: 32%;
    height: 9.5%;
    border-radius: 34px;
    color: white;
    font-family: system-ui;
    font-size: 1.2em;
    font-weight: bolder;

}
.btn-register-login{
    background: #7A7A98;
    border: 1px solid white;
    position: absolute;
    bottom: 3%;
    left: 24%;
    width: 50%;
    height: 10%;
    border-radius: 34px;
    color: white;
    font-family: system-ui;
    font-size: 1.2em;
    font-weight: bolder;
}
.middle-div{
    border: 1px solid #7A7A98;
    position: relative;
    top: 188px;
    width: 110px;
    left: 17%;
}
#middle2{
    position: relative;
    /*width: 198px;*/
    left: 56%;
}
.or-lable{
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    position: absolute;
    bottom: -1%;
    left: 32%;
}
.welcome-div{
    /*border: 1px solid black;*/
    width: 40%;
    height: 40%;
}
#welcome{
    position: absolute;
    left: 10%;
    top: 60%;
    font-family: revert;
    font-weight: unset;
}
.welcome-text{
    position: relative;
    top: 36%;
    font-size: 0.8em;
}
/*.icon{*/
/*    width: 20px;*/
/*    height: 20px;*/
/*}*/
/*.wrapper{*/
/*    !*width: 450px;*/
/*    background: #fff;*/
/*    padding: 30px;*/
/*    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);*/
/*    border: 1px solid red;*!*/
/*    width: 410px;*/
/*    background: #fff;*/
/*    padding: 30px;*/
/*    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);*/
/*    border: 1px solid red;*/
/*    height: 10%;*/
/*    position: absolute;*/
/*    left: 5%;*/
/*    top: 27%;*/

/*}*/
/*.wrapper .input-data{*/
/*    height: 40px;*/
/*    width: 100%;*/
/*    position: relative;*/
/*    border: 1px solid green;*/

/*}*/
/*.wrapper .input-data input{*/
/*   !* width: 100%;*/
/*    height: 100%;*/
/*    border: none;*/
/*    border-bottom: 0px solid silver;*!*/
/*    !*width: 100%;*/
/*    height: 100%;*/
/*    border: none;*/
/*    border-bottom: 0px solid silver;*/
/*    !* position: absolute; *!*/
/*    position: absolute;*/
/*    left: 0%;*/
/*    top: -34%;*!*/
/*    width: 117%;*/
/*    height: 131%;*/
/*    border: none;*/
/*    border-bottom: 0px solid silver;*/
/*    !* position: absolute; *!*/
/*    !* position: absolute; *!*/
/*    !* left: 0%; *!*/
/*    !* top: 36%; *!*/
/*    !* bottom: 37%; *!*/
/*    position: relative;*/
/*    left: -8%;*/
/*    top: -119%;*/
/*}*/
/*.input-data input:focus~label*/
/*.input-data input:focus~label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
}

.wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: gray;
    pointer-events: none;
transition: all 0.3s ease;
}*/
/*.form-floating{
    border: 1px solid red;
    width: 87%;
    height: 14%;
    margin-top: 30px;
    left: 7%;
    !* bottom: -18px; *!
    top: 79px;
}*/
/*.textFiled{
    position: relative;
    width: 250px;
    height: 44px;
    line-height: 44px;
}*/
/*.textFiled{
    !*border: 1px solid blue;*!
    width: 100%;
    height: 84%;
    position: absolute;
    !* top: -18px; *!

}*/
/*
.input-field {
    position: relative;
    width: 415px;
    height: 44px;
    line-height: 44px;
    border: 1px solid red;
    left: 4%;
    top: 27%;
}
input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid rebeccapurple;
    box-shadow: none;
    color: #111;
}
label {
    position: absolute;
    top: -60px;
    left: -154px;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
    font-size: 1.5em;
}
input:invalid {
    outline: 0;
!*!/ color: #ff2300;*!
!*!/   border-color: #ff2300;*!
}
input:focus,
input:valid {
    border-color: #00dd22;
}
input:valid~label {
    font-size: 14px;
    top: -24px;
    color: #00dd22;
}
*/

/*#usernameText{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    color: #d3d3d3;*/
/*    transition: 0.2s all;*/
/*    cursor: text;*/
/*}*/

/*.form-control{
    border: 1px solid blue;
}*/
/*.box {
    width: 200px;
    height: 100px;
    overflow: hidden; !* This will crop the content that overflows the box *!
    border: 1px solid #333;
    background: black;
    padding: 10px;
    box-sizing: border-box; !* Ensures that padding is included in the width and height *!
}*/

/*
