.navbar-expand-lg{
    width: 100%;
    height: 1cm;
    /*border: 1px solid red;*/
}
.container-fluid{
    background-color: black;
}
.btn-add-vehicle{
   /* border: 1px solid red;*/
   width: 2%;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.exit{
/*    border: 1px solid red;*/
    width: 2%;
    position: absolute;
    right: 0.9%;
    top: 0%;
}
.search{
    /*border: 1px solid red;*/
    position: absolute;
    right: 120px;
    width: 300px;
    top: 5px;
    border-radius: 50px;
}
#search-btn-guide{
    /*border: 1px solid red;*/
    position: absolute;
    width: 2%;
    right: 85px;
    top: 4px;
}
#newPage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    /*padding: 20px;*/
    /* border: 1px solid #ccc;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
    display: none;
    /*  border: 4px solid red;*/
    width: 70%;
    height: 80%;
    border-radius: 20px;

}
#closeButton{
    background-color: transparent;
    /*border: 4px solid blue;*/
    width: 4%;
    position: relative;
    left: 30cm;
    bottom: 10px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.form-group{
    position: relative;
    top: -1cm;
    display: inline-block;
   /* border: 1px solid red;*/
    width: 31%;
    height: 1.5cm;
    margin-left: 20px;
    margin-top: 20px;
}
.guide-lable{
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    left: 40%;
}
.form-group input[type="text"],.form-group label[for="idImage"],
.form-group label[for="nicImage"]{
    width: 100%;
    height: 1cm;
}
.form-group label[for="profilePicture"],
.form-group label[for="idImage"],
.form-group label[for="nicImage"]{
    /*border: 1px solid green;*/
    border-radius: 50px;
}
#guid-remark-lable{
    position: relative;
    top: 0cm;
}
#remarks{
    width: 100%;
    height: 1cm;
}
#from-group5{
    position: relative;
    top: -1cm;
}
#gender{
    width: 100%;
    height: 1cm;
}
#from-group7{
    top: -0.7cm;
    width: 64%;
}
.img{
    width: 31%;
    height: 5cm;
}
#guid-nicImage-lable ,#guid-idImage-lable,#guid-image-lable{
    width: 70%;
    left: 20%;
    background-color: #dfdfdf;
    text-align: center;
    justify-content: center;
    font-weight: initial;
    border-radius:10px ;
}
#from-group9,#from-group10{
    top: -0.8cm;
}


.form-group input[type="file"] {
    display: none;
}
.gImage{
    width: 200px;
    height: 200px;
    position: relative;
    left: 20%;
    top: -0.5cm;
}
#btn-save-guide{
    background-color: #007BFF;
    border: 1px solid #007BFF;
    border-radius: 20px;
    width: 10%;
    height: 0.8cm;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 48%;
    top: 15cm;
}
#cardContainer{
    width: 100%;
    height: 99vh;
    /*border: 1px solid red;*/
}
#load-guide-filed-card{
    width: 23%;
    height: 9cm;
    border: 1px solid black;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px;
}
#load-guide-image{
    width: 40%;
    height:4cm;
    position: relative;
    left: 30%;
    top: 10px;
    border-radius: 10px;
}
.card p{
    font-weight: bold;
    margin: unset;
    position: relative;
    top: 5%;
    left: 10px;
}
.btn-delete-guide,.btn-update-guide{
    width: 5%;
    position: relative;
    left: 80%;
    margin-left: 10px;
    top: -20px;
}
#update-guide-pane{
    width: 30%;
    height: 30%;
    color: black;
    position: absolute;
    left: 10%;
}
